body {
    font-family:'Times New Roman', Times, serif ;
}
header{
    text-align: center;
}

h1 {
    color: #f01c1c;
}
nav {
    background-color: black;
    text-align: center;
}
ul li {
    list-style-type:none;
    color: azure;
    display: inline-block;
}